h1{
    display:inline;
    background-color: rgb(200, 150, 50, 0.9);

}
/* span{
    /* display:block; */
    /* background-color: navajowhite;
    border:solid black;
    height:100px;
    width:20px;
    padding:50px;
} */ 
button{
    background-color: hotpink;
    opacity: 0.9;
}
div:hover{
    background-color: teal;
    border: 2px solid black;
    transition: 5s;
    border: 2px solid black;
    border-radius: 50%;
}