h2{
    color: rgb(0,0,255);
    text-align: center;
    border: solid;
    width: 10
    
    0%;
}

button{
    background-color: blue;
    }
p{
    color:white;
    background-color: #000000;
    font-size : 20px;
    font-family: Arial, Helvetica, sans-serif;
}