.main{
    height: 500px;
    width: 70%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    
}

    /* gap: 1; */
    

.div1{
    height: 100px;
    width: 200px;
    border: 2px solid rgb(92, 85, 85);
    display: flex;
    align-self: flex-end;
    justify-self: end;
    
}
.div2{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    justify-self:flex-end
    /* order: 2 */
    
}
.div3{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    align-self: center;  
}
.div4{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-items: end;
    
}
.div5{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: flex;

    align-self: flex-end;
    justify-self: end;
    /* align-self: self-end; */
}
