div {
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    background-color:white;
    display: flex; 
    align-items: flex-start;
    padding: 10px;
    
    flex-wrap: wrap;
    gap: 10px;
}
.child1{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    
}
.child1:hover{
    background-color: brown;
}
.child2{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}
.child3{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    align-self: center;
}
.child4{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}
.child5{
    height: 200px;
    width: 200px;
    border: 1px solid rebeccapurple
}